*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1623910270913-3e0294a1c765?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2048&q=80);
    background-position: center;
    background-size: contain;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 21%;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin: 10px 0;
    color: white;
    font-family: 'Pixelify Sans', cursive;
}

.container {
    display: flex;
    justify-content: center;
}

.side-bar {
    background-color: firebrick;
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin: 0 1%;
    border: 5px solid black;
    align-items: center;
    height: fit-content;
}

.btn {
    width: 150px;
    padding: 9px;
    font-size: 17px;
    background-color: white;
    font-weight: 700;
    margin: 5px 0;
    border: 3px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.rgb-wrapper {
    position: relative;
    background-color: white;
    width: 150px;
    border: 3px solid black;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.btn:hover,
.rgb-wrapper:hover {
    background-color: rgb(235, 235, 235);
}

#rgb-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.size-input-wrapper {
    display: flex;
    align-items: center;
}

.round-btn {
    border-radius: 50%;
    width: 50px;
    padding: 20px;
    position: relative;
}

.minus,
.plus {
    position: absolute;
    left: 21%;
    color: transparent;
    bottom: 5%;
    font-size: 30px;
    transition: color 0.7s ease, font-size 0.7s ease;
    font-family: sans-serif;
}

.grid-size {
    width: 150px;
    padding: 6px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 3px solid black;
}

.etch-sketch-container {
    border: 5px solid black;
    width: 45rem;
    height: 45rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 1%;
}

.block {
    border: 0.1px solid black;
    background-color: white;
}

.pixle {
    font-family: 'Pixelify Sans', cursive;
}