*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
}

.side-bar {
    background-color: firebrick;
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin: 0 1%;
    border: 5px solid black;
    align-items: center;
}

.btn {
    width: 150px;
    padding: 9px;
    font-size: 17px;
    background-color: white;
    font-weight: 700;
    margin: 5px 0;
    border: 3px solid black;
}

.round-btn {
    border-radius: 50%;
    width: 50px;
    padding: 20px;
}

.size-input-wrapper {
    display: flex;
    align-items: center;
}

.etch-sketch-container {
    border: 5px solid black;
    border-radius: 1rem;
    width: 45rem;
    height: 45rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 1%;
}

.block {
    border: 0.1px solid black;
}

#grid-size {
    width: 150px;
    padding: 10px;
    border: 3px solid black;
}